*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.front-nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px;
    /* margin: 10px; */
    /* color: white; */
    background-color: #050416;
}

.front-nav button{
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 10px;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px 10px; 
}

.page{
    height: 100vh;
    width: 100%;
}

.first-view{
    display: flex;
    width: 100%;
}

.side-details{
    width: 40%;
}

.side-logo-img{
    width: 60%;
}

.side-logo-img img{
    width: 100%;
    height: 100%;
}

.side-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

